* {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url(./images/pattern.webp)
}

h2 {
    font-size: 32px;
    color: white;
}

a {
    color: blue;
}

h1,
h2,
p a {
    font-weight: bold;
}

#brushes {
    background: mediumspringgreen;
}

#frames {
    background: lightcoral;
}

#paint {
    background: skyblue;
}